<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <app-register-form></app-register-form>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <app-persons-list></app-persons-list>
    </div>
  </div>
</div>
