<b>Formulario de registro</b>
<form method="post" #registerForm="ngForm">
  <div class="form-group row">
    <label for="name" class="col-form-label col-sm-2">Nombre</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" [(ngModel)]="name" name="name" #nom="ngModel" required>
      <div class="alert alert-danger" *ngIf="nom.invalid && (nom.dirty || nom.touched)">
        <div *ngIf="nom.errors.required" >
          Campo requerido
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="lastName" class="col-form-label col-sm-2">Apellido</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" name="lastName" required [(ngModel)]="lastName" #lastname="ngModel">
      <div class="alert alert-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
        <div *ngIf="lastname.errors.required" >
          Campo requerido
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12 col-md-6">
      <label for="docType" class="col-form-label col-sm-12">Tipo Documento</label>
      <select class="form-control" name="docType" required [(ngModel)]="docType" #doctype="ngModel">
        <option value="">-Seleccione</option>
        <option *ngFor="let doc of doctypeList" value="{{doc.id}}">{{doc.abbreviation}}</option>
      </select>
      <div class="alert alert-danger" *ngIf="doctype.invalid && (doctype.dirty || doctype.touched)">
        <div *ngIf="doctype.errors.required" >
          Campo requerido
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <label for="numDoc" class="col-form-label col-sm-12">Documento</label>
      <input type="number" min="0" class="form-control" name="numDoc" required minlength="6"
      [(ngModel)]="numDoc" #numdoc="ngModel">
      <div class="alert alert-danger" *ngIf="numdoc.invalid && (numdoc.dirty || numdoc.touched)">
        <div *ngIf="numdoc.errors.required">
          Campo requerido
        </div>
        <div *ngIf="numdoc.errors.minlength">
          Longitud incorrecta
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12 col-md-6">
      <label for="gender" class="col-form-label col-sm-12">Género</label>
      <select class="form-control" name="gender" [(ngModel)]="gender" #gen="ngModel" required>
        <option value="">-Seleccione</option>
        <option value="MASCULINO">MASCULINO</option>
        <option value="FEMENINO">FEMENINO</option>
      </select>
      <div class="alert alert-danger" *ngIf="gen.invalid && (gen.dirty || gen.touched)">
        <div *ngIf="gen.errors.required">
          Campo requerido
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <label for="type" class="col-form-label col-sm-12">Tipo</label>
      <select class="form-control" name="type" [(ngModel)]="type" #tip="ngModel" required>
        <option value="">-Seleccione</option>
        <option value="PADRE">PADRE</option>
        <option value="MADRE">MADRE</option>
        <option value="NIÑO(A)">NIÑO(A)</option>
      </select>
      <div class="alert alert-danger" *ngIf="tip.invalid && (tip.dirty || tip.touched)">
        <div *ngIf="tip.errors.required">
          Campo requerido
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="birth" class="col-form-label col-sm-12">Fecha de Nacimiento</label>
    <div class="col-sm-12">
      <input type="date" class="form-control" name="birth" [(ngModel)]="birth" #bir="ngModel" required>
      <div class="alert alert-danger" *ngIf="bir.invalid && (bir.dirty || bir.touched)">
        <div *ngIf="bir.errors.required">
          Campo requerido
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <button
        id="btnRegister"
        type="button"
        class="btn btn-primary btn-block"
        name="button"
        (click)="registrarPersona()"
        [disabled]="!registerForm.form.valid">Registrar</button>
    </div>
  </div>
</form>
