<p><b>Lista de personas</b></p>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Padre</th>
      <th>Madre</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of personsList; let i = index" >
      <td>{{person.id}}</td>
      <td>{{person.name+" "+person.lastName}}</td>
      <td>{{person.type}}</td>
      <td>{{person.fatherId}}</td>
      <td>{{person.motherId}}</td>
      <td style="background:{{(person.registerStatus=='Activo')?colorActivo:colorInactivo}};">{{person.registerStatus}}</td>
      <td>
        <button *ngIf="person.registerStatus=='Activo'"
          type="button" class="btn btn-danger"
          name="button" title="Eliminar" (click)=eliminarPersona(person.id)>
          <i class="fa fa-trash"></i>
        </button>
        <button *ngIf="person.registerStatus=='Inactivo'"
          type="button" class="btn btn-success"
          name="button" title="Activar" (click)=activarPersona(person.id)>
          <i class="fa fa-check"></i>
        </button>
        <button type="button" class="btn btn-primary" name="button" title="Adoptar"
          *ngIf="person.fatherId == null && person.motherId == null && person.type == 'NIÑO(A)'"
          (click)="definirNinoAdoptar(person)">
          <i class="fa fa-users"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<hr>
<p><b>Formulario de adopción</b></p>
<form #adoptionForm="ngForm">
  <table class="table table-striped">
    <tr>
      <td>Niño(a): </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="ninoAdoptarName"
        name="ninoAdoptarName" #nin="ngModel" value="{{ninoAdoptarName}}" required>
        <div class="alert alert-danger" *ngIf="nin.invalid && (nin.dirty || nin.touched)">
          <div *ngIf="nin.errors.required" >
            Campo requerido
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Padre</td>
      <td>
        <select class="form-control" name="father" required [(ngModel)]="father" #fat="ngModel">
          <option value="">-Seleccione</option>
          <option *ngFor="let father of fathersList" value="{{father.id}}">{{father.name+" "+father.lastName}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="fat.invalid && (fat.dirty || fat.touched)">
          <div *ngIf="fat.errors.required" >
            Seleccione un padre para el niño
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Madre</td>
      <td>
        <select class="form-control" name="mother" required [(ngModel)]="mother" #mod="ngModel">
          <option value="">-Seleccione</option>
          <option *ngFor="let mother of mothersList" value="{{mother.id}}">{{mother.name+" "+mother.lastName}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="mod.invalid && (mod.dirty || mod.touched)">
          <div *ngIf="mod.errors.required" >
            Seleccione una madre para el niño
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="button" class="btn btn-primary btn-block" name="button"
          (click)="registrarAdopcion()"
          [disabled]="!adoptionForm.form.valid">
          <i class="fa fa-save"></i> Registrar adopción
        </button>
      </td>
    </tr>
  </table>
</form>
